@media only screen and (min-width:992px) and (max-width:1326px) {
    .p1 {
        font-size: 22px;
        height: 170px;
    }

    img.picture {
        width: 275px;
        height: 185px;
    }

    img.picture1 {
        width: 275px;
        height: 185px;
    }

    img.picture2 {
        width: 275px;
        height: 185px;
    }

    .container:hover .overlay {
        height: 100%;
    }

    .Women1 {
        height: 245px;
    }

    .polaroid {
        width: 21%;
    }

    .contant {
        font-size: 20px;
    }


    .about {
        font-size: 18px;
    }

    .card-1 {
        width: 22%;
    }

    .kids {
        height: 48vh;
    }

    .polaroid {
        width: 16%;
    }

    .Foot {
        transform: translate(-50%, 90%);
    }
}

@media only screen and (min-width:769px) and (max-width:991px) {

    body {
        width: 100%;
        height: 100%;
    }

    ul {
        gap: 17px;
    }

    .card {
        width: 10%;
    }

    img.picture {
        width: 245px;
        height: 150px;
    }

    img.picture:hover {
        height: 205px;
        width: 245px;
    }

    img.picture1 {
        width: 245px;
        height: 150px;
    }

    img.picture1:hover {
        width: 250px;
        height: 170px;
    }

    img.picture2 {
        width: 245px;
        height: 150px;
    }

    img.picture2:hover {
        width: 250px;
        height: 180px;
    }

    .container:hover .overlay {
        height: 85%;
        width: 100%;
    }

    .Women1 {
        height: 43vh;
    }

    .women2 {
        height: 43vh;
    }

    h1.col {
        font-size: 20px;
    }

    .contant {
        font-size: 18px;
    }

    .about {
        font-size: 16px;
        width: 50%;
    }


    .card-1 {
        width: 22%;
    }

    .kids {
        height: 44vh;
    }

    .polaroid {
        height: 60vh;
        width: 22%;
    }

    .Foot {
        width: 100%;
        height: 20%;
        font-size: 12px;
    }
}

@media only screen and (min-width:575px) and (max-width:768px) {
    body {
        width: 100%;
        height: 100%;
    }

    ul {
        gap: 17px;
    }

    .card {
        width: 10%;
    }

    .all {
        width: 100%;
        justify-content: space-evenly;
    }

    .Men {
        height: 65%;
    }

    img.picture {
        width: 170px;
        height: 160px;
    }

    img.picture:hover {
        height: 180px;
        width: 180px;
    }

    img.picture1 {
        width: 170px;
        height: 160px;
    }

    img.picture1:hover {
        width: 180px;
        height: 180px;
    }

    img.picture2 {
        width: 170px;
        height: 160px;
    }

    img.picture2:hover {
        width: 180px;
        height: 180px;
    }

    .container:hover .overlay {
        height: 85%;
        width: 100%;
    }

    .Women1 {
        height: 32vh;
    }

    .contant {
        font-size: 18px;
    }

    .about {
        font-size: 14px;
    }


    .card-1 {
        width: 22%;
    }

    .kids {
        height: 30vh;
    }

    .polaroid {
        height: 48vh;
        width: 22%;
    }

    .Foot {
        width: 100%;
        height: 20%;
        font-size: 12px;
    }
}


@media only screen and (max-width:574px) {
    body {
        width: 100%;
        height: 100%;
    }

    /* .navbar {
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        gap: 17px;
    }

    .card {
        width: 10%;
    } */
    .navbar {
        height: 10%;
    }

    ul {
        gap: 15px;
        font-size: 14px;
        flex-wrap: wrap;
        padding: 0px 27px;
    }

    .bar {
        display: none;
    }

    .card {
        display: none;
    }

    .search {
        display: none;
    }

    .all {
        width: 100%;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Men {
        height: 65%;
    }

    img.picture {
        width: 170px;
        height: 160px;
    }

    img.picture:hover {
        height: 180px;
        width: 180px;
    }

    img.picture1 {
        width: 170px;
        height: 160px;
    }

    img.picture1:hover {
        width: 180px;
        height: 180px;
    }

    img.picture2 {
        width: 170px;
        height: 160px;
    }

    img.picture2:hover {
        width: 180px;
        height: 180px;
    }

    .container:hover .overlay {
        height: 85%;
        width: 100%;
    }

    .Women1 {
        height: 32vh;
    }

    .contant {
        font-size: 18px;
    }

    .about {
        font-size: 14px;
    }


    .card-1 {
        width: 22%;
    }

    .kids {
        height: 30vh;
    }

    .polaroid {
        height: 48vh;
        width: 22%;
    }

    .Foot {
        width: 100%;
        height: 20%;
        font-size: 12px;
    }

    /* body {
        width: 100%;
        height: 100%;
    }

    .navbar {
        height: 10%;
    }

    ul {
        gap: 15px;
        font-size: 14px;
        flex-wrap: wrap;
        padding: 0px 27px;
    }

    .bar {
        display: none;
    }

    .card {
        display: none;
    }

    .search {
        display: none;
    }

    h2.caption-0 {
        line-height: 40px;
    }

    .hero-image {
        height: 300px;
    }

    .p1 {
        font-size: 15px;
        height: 0%;
        padding: 10% 4%;
    }

    .hero-image1 {
        height: 0%;
    }

    .collection1 {
        flex-wrap: wrap;
        padding-bottom: 20px;
        gap: 1rem;
    }

    .collection2 {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .all {
        height: 150vh;
        align-items: center;
        flex-direction: column;
    }

    img.picture {
        width: 215px;
        height: 150px;
    }

    img.picture:hover {
        height: 205px;
        width: 245px;
    }

    img.picture1 {
        width: 215px;
        height: 150px;
    }

    img.picture1:hover {
        width: 250px;
        height: 170px;
    }

    img.picture2 {
        width: 215px;
        height: 150px;
    }

    img.picture2:hover {
        width: 250px;
        height: 180px;
    }

    .Overlay-text {
        font-size: 16px;
    }

    .container:hover .overlay {
        height: 57%;
        width: 100%;
        top: 0;
    }

    .Brands-Name {
        flex-wrap: wrap;
        height: 280px;
    }

    .Brands {
        width: 30%;
        height: 18vh;
    }

    .p2 {
        font-size: 13px;
    }

    .container-men {
        line-height: 1.5;
    }

    .container-a {
        line-height: 1.8;
    }

    .Women1 {
        height: 28vh;
    }

    .women2 {
        height: 28vh;
    }

    h1.col {
        font-size: 20px;
    }

    .heading {
        height: 75pc;
    }

    .update {
        font-size: 18px;
    }

    .Blog {
        height: 85vh;

    }

    .contant {
        font-size: 12px;
    }

    .about {
        font-size: 8px;
    }

    .fa-paper-plane {
        width: 6vh;
    }

    .offers {
        width: 100%;
        height: 120vh;
    }

    .contact-1 {
        width: 100%;
    }

    .About-us {
        height: 80vh;
    }

    .card-1 {
        width: 30vh;
    }

    .Email {
        width: 42%;
        height: 36px;
    }

    .fa-paper-plane {
        height: 37px;
        width: 10%;
        font-size: 18px;
    }

    .orders {
        flex-wrap: wrap;
        gap: 2rem;
        height: 260px;
    }

    .Men {
        height: 30vh;
        width: 100%;
    }

    .kids {
        height: 28vh;
    }

    .polaroid {
        height: 50vh;
        width: 120px;
    }

    .foot-image {
        width: 100%;
        height: 100%;
    }

    .zack {
        width: 44vh;
    }

    .Foot {
        width: 100%;
        display: flex;
        height: 100%;
        flex-wrap: wrap;
    }

    .style {
        font-size: 16px;
    } */

}