* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d2ced9;
}

.navbar {
    background-color: brown;
    display: flex;
    justify-content: space-between;
    height: 100px;
    color: white;
}

.logo1 {
    width: 15%;
    text-align: center;
}

.Logo {
    height: 100%;
    border-radius: 50%;
    padding: 4%;
}


.hamburger-icon {
    border: none;
    background-color: transparent;
    display: none;
}

.hamburger-icon input[type="checkbox"] {
    appearance: none;
}

@media only screen and (max-width: 750px) {
    header {
        display: block;
    }

    .nav2 {
        height: 0;
        font-size: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;
    }

    .hamburger-icon {
        display: block;
    }

    .hamburger-icon .fa-bars,
    .hamburger-icon .fa-x {
        color: white;
        font-size: 25px;
        cursor: pointer;
    }


    .fa-x {
        display: none;
    }

    header:has(.hamburger-icon input[type="checkbox"]) .fa-x {
        display: none;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .nav2 {
        height: 500px;
        gap: 0;
        z-index: 1;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
        display: none;
    }

    header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
        display: inline-block;
    }
}

.nav2 {
    display: flex;
    gap: 2rem;
}

.nav1 {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    align-items: center;

}


li.nav:hover a {
    color: black;
    text-decoration: underline;
    cursor: pointer;

}

li.nav {
    list-style: none;
}

.card {
    width: 8%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.fa-magnifying-glass {
    position: absolute;
    color: black;
    left: 5%;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 200px;
}

.bar {
    height: 50%;
    width: 100%;
    outline: none;
    border: 3px solid #01ae9d;
    background: white;
    position: relative;
    border-radius: 4px;
    text-indent: 30px;
}

a {
    color: white;
    text-decoration: none;
}

.hero-image1 {
    margin-bottom: 5%;
}

.hero-image {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 16%;
    background-color: rgba(0, 0, 0, 0.521);
    overflow: hidden;
    height: 0;
    width: 100%;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 100%;
}

.Overlay-text {
    color: white;
    width: 45%;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
}


h1 {
    text-align: center;
    color: brown;
    height: 50px;
}

.all {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10%;
}

img.picture:hover {
    box-shadow: 0 0 3px 3px gray;
}

img.picture1:hover {
    box-shadow: 0 0 3px 3px gray;
}

img.picture2:hover {
    box-shadow: 0 0 3px 3px gray;
}

img.picture {
    width: 100%;
    height: 200px;
    transition: width 1s, height 1s;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
}

img.picture:hover {
    width: 350px;
    height: 230px;

}

img.picture1 {
    width: 100%;
    height: 200px;
    transition: width 1s, height 1s;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
}

img.picture1:hover {
    width: 350px;
    height: 230px;
}

img.picture2 {
    width: 100%;
    height: 200px;
    transition: width 1s, height 1s;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
}

img.picture2:hover {
    width: 350px;
    height: 230px;
}

.container-men {
    text-align: center;
    font-size: 15px;
    color: black;
    line-height: 25px;
}

.Men {
    padding: 10% 10%;
    width: 100%;
}

.Men:hover {
    transform: scale(0.9);
}

.collection1 {
    display: flex;
    justify-content: space-evenly;
}

.collection2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 8%;
}

.Women1 {
    padding: 8% 10%;
    width: 100%;
    height: 280px;
}

.Women1:hover {
    transform: scale(0.9);
}

.container-a {
    text-align: center;
    font-size: 15px;
    color: black;
    line-height: 25px;
}

.kids {
    height: 280px;
    padding: 8% 10%;
    width: 100%;
}

.kids:hover {
    transform: scale(0.9);
}

.Brands {
    width: 15%;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
}


.Brands-Name {
    display: flex;
    justify-content: space-evenly;
    height: 150px;

}

.Brands:hover {
    display: block;
    filter: drop-shadow(0 0 10px #0c0f11);

}


h2.Top {
    text-align: center;
    color: brown;
    padding-bottom: 2%;
}

.Blog {
    background-image: url(pic/Blogs.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Our-Blogs {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
}

#blogs {
    margin-top: 8%;
}

.caption {
    line-height: 2.5;
}

img.Shipping:hover {
    width: 20%;
    cursor: pointer;
}

img.Shipping {
    position: relative;
    bottom: 11%;

}

h4 {
    color: brown;
}

.offers {
    margin-bottom: 8%;
    margin-top: 5%;
}

.orders {
    display: flex;
    justify-content: center;
    height: 120px;
    gap: 2%;
}

.card-1 {
    width: 20%;
    font-size: 18px;
    background-color: beige;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

h2.caption-0 {
    line-height: 100px;
}

.contant {
    color: beige;
    width: 58%;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}

.polaroid {
    width: 18%;
    background-color: #bdb8b8;
    border: 3px solid floralwhite;
    transition: all .15s ease-in-out;
    color: honeydew;

}

.polaroid:hover {
    box-shadow: 0 0 30px 0 honeydew inset, 0 0 20px 6px honeydew;
}

.button {
    text-align: center;
}

button.btn {
    padding: 10px 6%;
    border-radius: 8px;
    background-color: brown;
    color: white;
    margin-bottom: 5%;

}

button.btn:hover {
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, #c3a8d8, #af0404, #eebf78);

}


.about-image {
    width: 46%;
    border-radius: 5%;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;

}

.about-image:hover {
    box-shadow: black 0px 20px 30px -10px;
    transition: all 0.4s ease 0s;
}

.about-pic {
    display: flex;
    gap: 4%;
    margin: 0 auto;
    padding: 6% 0px;
    width: 80%;
    align-items: center;
}

.about {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 2.2;
    width: 440px;
    margin: 0 auto;
    height: 300px;
    border-radius: 4%;
    border: 6px solid rgb(189, 140, 183);
    animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {
        border-color: rgb(134, 197, 218);
        border-radius: 5%;
    }
}


h2.font {
    color: brown;
    font-family: sans-serif;
}

button.btn2 {
    padding: 10px 6%;
    border-radius: 8px;
    background-color: brown;
    color: white;
}

button.btn2:hover {
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, #c3a8d8, #af0404, #eebf78);
}


.contact-1 {
    background-image: url(pic/Slider1-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    display: flex;
}

.contact-us {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
}

.About-us {
    margin-top: 8%;
}

.contact {
    margin-bottom: 5%;
}

button.btn3 {
    width: 30%;
    height: 43px;
}

.Email {
    width: 26%;
    height: 44px;
    padding: 1%;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fa-paper-plane {
    background-color: black;
    height: 45px;
    width: 4%;
    font-size: 23px;
    padding: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.fa-paper-plane:hover {
    background-color: brown;
    color: white;

}

.Footer {
    position: relative;
}

.Foot {
    position: absolute;
    color: white;
    display: flex;
    width: 100%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 100%);
    justify-content: space-around;
}

.foot-image {
    width: 100%;
}

.Products {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Products a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.Design {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Design a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.Follow:hover {
    cursor: pointer;
}

.zack {
    width: 26%;
}

.foot-a {
    font-family: system-ui;
}

.style {
    font-family: ui-monospace;
}

.fa-whatsapp {
    background-color: darkgreen;
}

.fa-facebook {
    background-color: blue;
}

.fa-instagram {
    background-color: red;
}

.fa-twitter {
    background-color: skyblue;
}

.foot-b i:hover {
    cursor: pointer;
    background-color: black;
}

.foot-b {
    font-size: 25px;
}